.contacts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
}

.contact {
  width: fit-content;
  margin: 5px;
}

.name {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 100;

  @media (min-width: 769px) {
    font-size: 1.8rem;
  }
}

.button {
  width: 80vw;
  margin: 15px auto;
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  align-items: center;
  padding: 15px;

  cursor: pointer;

  color: #225322;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 1rem;
  border: none;

  @media (min-width: 250px) {
    width: 150px;
  }
}