.container {
  margin: 0 auto;
  height: 50px;
  display: flex;
  align-items: center;
  justify-items: center;
}

.button {
  width: 80vw;

  @media (min-width: 250px) {
    width: 220px;
  }
}

.icon {
  display: none;

  @media (min-width: 250px) {
    display: inline;
    width: 18px;
    height: 18px;
    margin-top: -3px;

    svg {
      width: 18px;
      height: 18px;
    }
  }
}