.container {
  display: flex;
  width: 100vw;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  padding: 0 10px;

  @media (min-width: 426px) {
    width: 400px;
  }
}

.item {
  text-align: center;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;

  @media (min-width: 250px) {
    flex-basis: 50%;
  }

  @media (min-width: 321px){
    flex-basis: 25%;
  }
}

.itemDifference {
  font-size: 2rem;
}

.itemLabel {
  text-transform: uppercase;
  margin-bottom: 15px;

  @media (min-width: 321px) {
    margin-top: 10px;
    margin-bottom: 0;
  }
}