.wrapper {
  width: 100vw;
  padding: 30px 0;
  z-index: 10;

  &:nth-child(odd) {
    background: var(--background-light);
  }

  &:nth-child(even) {
    background: #fff;
  }
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;

  @media (min-width: 769px) {
    padding: 0;
  }
}

.content {
  width: 100%;
  text-align: justify;
  font-size: 1.1rem;
  flex-basis: 100%;

  @media (min-width: 789px) {
    font-size: 1.2rem;
  }
}